@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dragon-100 dark:bg-dragon-900 text-dragon-700 dark:text-white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
